/* styles.css for Pomodoro Clock */

body {
    background-color: #333333;
    color: white;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 5em;
    text-align: center;
    margin: 0px;
}

.settings-div {
    text-align: center;
    z-index: 4;
}

.break-div {
    background-color: red;
    display: inline-block;
    text-align: center;
}

.session-div {
    background-color: green;
    display: inline-block;
    text-align: center;
}

.control {
    background-color: white;
    border: 1px solid black;
    color: black;
    height: 50px;
    display: inline-block;
    text-align: center;
}

.set-control {
    width: 50px;
}

.plusminus {
    width: 25px;
}

.background-div {
    width: 400px;
    height: 400px;
    background-color: yellow;
    margin: auto;
    z-index: -1;
}

.clock-circle {
    width: 300px;
    height: 300px;
    border: 150px solid green;
    border-radius: 300px;
    background-color: transparent;
    position: relative;
    top: -500px;
    margin: auto;
    z-index: 1;
}

.clock-border-1 {
    width: 310px;
    height: 310px;
    border: 150px solid gray;
    border-radius: 310px;
    background-color: transparent;
    position: relative;
    top: -1105px;
    margin: auto;
    z-index: 2;
}

.clock-border-2 {
    width: 320px;
    height: 320px;
    border: 150px solid purple;
    border-radius: 320px;
    background-color: transparent;
    position: relative;
    top: -1720px;
    margin: auto;
    z-index: 3;
}

.clock-fill {
    width: 500px;
    height: 400px;
    background-color: blue;
    position: relative;
    z-index: 0;
    top: -1850px;
    margin: auto;
}

.fill-cover {
    width: 500px;
    height: 400px;
    background-color: green;
    position: relative;
    z-index: 0;
    top: -2250px;
    margin: auto;
}

.data-div {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    width: 290px;
    height: 290px;
    border: 2px solid black;
    margin: auto;
    position: relative;
    top: -2977px;
    z-index: 3;
}
